
.work-in-progress-table {
	display: table;
    width: 100%;
    margin-left: auto;
}

.work-in-progress-table-body {
	display: table-row-group;
}

.work-in-progress-table-row {
	display: table-row;
}

.work-in-progress-table-heading {
	background-color: #EEE;
    display: table-header-group;
    font-weight: bold;
}

.work-in-progress-table-cell, .work-in-progress-table-head {
	border: 1px solid #999999;
	display: table-cell;
	padding: 3px 10px;
}

.divTableFoot {
	background-color: #EEE;
	display: table-footer-group;
	font-weight: bold;
}
